<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weclome In Diet Wizard</title>
</head>

<style>
    .card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;   
        width: 300px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }
    .card img {
        max-width: 100%;
        height: auto;
    }
</style>

<body>
    <div class="card">
        <img src="workout.jpg" alt="Image 1">
        <h2>Excercises</h2>
        <a href="/CategoryExercise"><button>Excercises</button></a>
    </div>
    <div class="card">
        <img src="protein.jpg" alt="Image 2">
        <h2>Products</h2>
        <a href="/home"><button>Products</button></a>
    </div>
    
</body>
</html>